
<html>
	<head>
		<title>HOMEPAGE</title>
		<style>
			body{
			background-image: url('https://kontratatehapura.prishtinaonline.com/assets/images/home1.JPG');
			background-repeat: no-repeat;
			}
		</style>
	</head>

	<body>
		<div>
    <a href="/contracts/"><button class="btn btn-secondary btn-lg" style="width:100%" >Shto kontraten e re</button></a>

</div>

		
	</body>

</html>