
<html>
	<head>
		<title>HOMEPAGE</title>
		<style>
			body{
			background-image: url('https://kontratatehapura.prishtinaonline.com/assets/images/home1.JPG');
			background-repeat: no-repeat;
			}
		</style>
	</head>

	<body>
		<h1>Comming Soon</h1>

		<div><a href="/contracts">Shto Kontraten </a></div>
		<div><a href="/contracts/table">Shiko te gjitha kontratat </a></div>
	</body>

</html>